@page
@using SporeServer.SporeTypes
@model SporeServer.Pages.Community.AssetBrowser.AchievementsModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Asset Browser : Achievements</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/rounded.css" />
    <style type="text/css">
        body {
            background-color: #202F46;
            color: #FFFFFF;
            width: 100%;
            font-family: 'Trebuchet EA', Verdana, sans-serif;
        }

        div.ach_outer {
            padding: 5px 0px 5px 10px;
            margin-left: 10px;
            margin-top: 10px;
            float: left;
            width: 580px;
        }

        div.ach_inner {
            background-color: #506c80;
            height: 58px;
        }

        div.not_ach_inner {
            background-color: #314055;
            height: 58px;
            color: #93979A;
        }

        img.ach_image {
            float: left;
            /*padding-top:5px;*/
            padding-left: 5px;
        }

        img.ach_image_inactive {
            opacity: 0.7;
        }

        div.ach_title {
            text-align: left;
            margin-top: 5px;
            margin-left: 12px;
            font-size: 14px;
        }

        div.ach_desc {
            text-align: left;
            margin-top: 5px;
            margin-left: 12px;
            font-size: 8px;
        }

        div.reminder {
            padding: 5px 10px 5px 10px;
            text-align: center;
            font-size: 8px width:580px;
        }
    </style>
</head>

<body>
    <div>
        <div class="reminder">
            If you earn an Achievement and don't see it on this page (which is actually hosted on the Spore servers), come back in a couple minutes. <br />Our servers update every few minutes with your Achievements.
        </div>

        @foreach (var achievement in SporeAchievements.Achievements)
        {
            bool isUnlocked = Model.UnlockedAchievementIds.Contains(achievement.Id);
            string backgroundColor = isUnlocked ? "#506c80" : "#314055";

            <div class="ach_outer">
                <div style="padding: 0; height: 70px;">
                    <b class="roundBoxTop" style="background-color: #202F46">
                        <b class="r1" style="background-color: @(backgroundColor);"></b> 
                        <b class="r2" style="background-color: @(backgroundColor);"></b> 
                        <b class="r3" style="background-color: @(backgroundColor);"></b> 
                        <b class="r4" style="background-color: @(backgroundColor);"></b>
                    </b>
                    <div class="roundBoxContent" style="background-color: @(backgroundColor); padding: 5px 10px 10px 10px;">
                        <div class="@(isUnlocked ? "ach_inner" : "not_ach_inner")">
                            <img src="utfres://0x260eb59c!@(isUnlocked ? achievement.UnlockedFileNameHash : achievement.LockedFileNameHash).png" alt="ach_image" height="60px" width="60px" class="ach_image" />
                            @if (achievement.Secret && !isUnlocked)
                            {
                                <div class="ach_title">
                                    Secret
                                </div>
                                <div class="ach_desc">
                                    Play more Spore to unlock this achievement
                                </div>
                            }
                            else
                            {
                                <div class="ach_title">
                                    @achievement.Name
                                </div>
                                <div class="ach_desc">
                                    @achievement.Description
                                </div>
                            }
                        </div>
                    </div>
                    <b class="roundBoxBottom" style="background-color: #202F46;">
                        <b class="r4" style="background-color: @(backgroundColor);"></b> 
                        <b class="r3" style="background-color: @(backgroundColor);"></b>
                        <b class="r2" style="background-color: @(backgroundColor);"></b>
                        <b class="r1" style="background-color: @(backgroundColor);"></b>
                    </b>
                </div>
            </div>
        }
    </div>
</body>
</html>