@page "{id}"
@model SporeServer.Pages.Community.AssetBrowser.CommentModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Multiverse Journal : Find Buddy</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/comments.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        .blankBG {
            background-color: #1a303f;
        }
    </style>
</head>

<body>
    @if (Model.AssetExists)
    {
    <div id="gamesused">
        <h2>Games Used:</h2>
        <div class="gamesicons">
            <img src="/static/war/images/content/packaging/Spore-icon.png" />
            <!-- TODO
                <img src="/static/war/images/content/packaging/BP1CreepyCuteIcon.png" class="multi" />
                <img src="/static/war/images/content/packaging/Patch3InsectLimbsIcon.png" class="multi" />
            -->
        </div>
    </div>

    <div id="commentinput">
        <h2>Add Comment</h2>
        <form method="get" action="/community/assetBrowser/comment/@(Model.Asset.AssetId)">
            <p><textarea name="comment" class="commenttext" cols="22" size="150"></textarea></p>
            <p><input type="submit" value="Submit" class="submitcomment" /></p>
        </form>
    </div>

    <div id="commentmessaging">
        @if (Model.HasSentComment)
        {
            <p>Your comment "@(Model.SentComment)" has been sent to @(Model.Asset.Author.UserName) for approval.</p>
        }
        @if (Model.CommentsCount == 0)
        {
            <p>There are no comments for this creation.</p>
        }
        else
        {
            @foreach (var comment in Model.Comments)
            {
                <div class="commentblock">
                    <p><a href="sporeprofile:@(comment.AuthorId)" style="">@(comment.Author.UserName)</a> commented:</p>
                    @(comment.Comment)<p/>
                    Posted: @(comment.Timestamp)
                    [<a href="/assetBrowser/flagComment/@(comment.CommentId)">Report</a>]<p/>
                </div>
            }
        }
    </div>
    }
</body>
</html>