@page
@model SporeServer.Pages.Community.AssetBrowser.CommentApprovalModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>AssetBrowser: Approve Comments</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/main.css" />
    <style type="text/css">
        .toprow {
            width: 350px;
        }

        h1 {
            font-size: 12px;
            font-family: 'Palatino Sans EA', Verdana, sans-serif;
            margin: 0px;
            padding: 6px 3px 2px 3px;
        }
    </style>
</head>

<body>
    <div id="unapproved">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Comments Awaiting Approval</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        @if (!Model.HasUnapprovedComments)
        {
            <div class="promo">
                You have no comments to approve.
            </div>
        }
        else
        {
            <div class="promo">
                <div class="toprow">
                    <span class="paging">
                        <!-- no page back -->
                        <!-- no page forward -->
                    </span>
                    <span class="approveAllButton">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/community/assetBrowser/commentApproval/?approveAllComments=1">Approve All</a>
                    </span>
                </div>
                @foreach (var comment in Model.UnapprovedComments)
                {
                    <div class="recentcomment" style="height: 100px;">
                        <img src="https://static.spore.com/@(comment.Asset.ThumbFileUrl)" width="50" height="50" alt="thumbnail image" class="commentimg" />
                        <div class="commenttext">
                            <h2>@(comment.Asset.Name)</h2><br />
                            <span>
                                "@(comment.Comment)" (1)
                                <div style="display:inline">
                                    <span class="commentauthor">
                                        by <a href="sporeprofile:@(comment.AuthorId)" style="">@(comment.Author.UserName)</a>
                                    </span>
                                </div>
                                <span class="commentdate">@(comment.Timestamp)</span>
                            </span>
                            <div class="commentOptions">
                                <a href="/community/assetBrowser/commentApproval/?approveComment=@(comment.CommentId)">
                                    Approve
                                </a>
                                <a href="/community/assetBrowser/commentApproval/?rejectComment=@(comment.CommentId)">
                                    Reject
                                </a>
                                <a href="/community/assetBrowser/commentApproval/?blockUser=@(comment.AuthorId)">
                                    Block User
                                </a>
                                <a href="/community/assetBrowser/commentApproval/?reportUser=@(comment.AuthorId)">
                                    Report User
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>

    <div id="approvedcomments">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Approved Comments</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        @if (!Model.HasApprovedComments)
        {
            <div class="promo">
                You have no approved comments.
            </div>
        }
        else
        {
            <div class="promo">
                <div class="next">
                    <!-- no page back -->
                    <!-- no page forward -->
                </div>
                @foreach (var comment in Model.ApprovedComments)
                {
                    <div class="recentcomment" style="height: 100px;">
                        <img src="https://static.spore.com/@(comment.Asset.ThumbFileUrl)" width="50" height="50" alt="thumbnail image" class="commentimg" />
                        <div class="commenttext">
                            <h2>@(comment.Asset.Name)</h2><br />
                            <span>
                                "@(comment.Comment)"
                                <div style="display:inline">
                                    <span class="commentauthor">
                                        by <a href="sporeprofile:@(comment.AuthorId)" style="">@(comment.Author.UserName)</a>
                                    </span>
                                </div>
                                <span class="commentdate">@(comment.Timestamp)</span>
                            </span>
                            <div class="commentOptions">
                                <a href="/community/assetBrowser/commentApproval/?rejectComment=@(comment.CommentId)">
                                    Reject
                                </a>
                                @if (!Model.BlockedUserIds.Contains(comment.AuthorId))
                                {
                                    <a href="/community/assetBrowser/commentApproval/?blockUser=@(comment.AuthorId)">
                                        Block User
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>

    <div id="blocked">
        <div class="header">
            <div class="headerLeftNoIcon"></div>
            <div style="margin-left:25px;" class="headermiddle">
                <h1>Manage Blocked Players</h1>
            </div>
            <div class="headerRight"></div>
        </div>
        @if (!Model.HasBlockedUsers)
        {
            <div class="promo">
                You have no blocked players.
            </div>
        }
        else
        {
            <div class="promo">
                <div>
                    <ul>
                        @foreach (var blockedUser in Model.BlockedUsers)
                        {
                            <li id="blockedUser-@(blockedUser.User.Id)">
                                @(blockedUser.User.UserName)
                               <a href="/community/assetBrowser/commentApproval/?unblockUser=@(blockedUser.User.Id)" class="unblock-link-button">Unblock User</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        <div class="footer">
            <div class="footerLeft"></div>
            <div class="footermiddle"></div>
            <div class="footerRight"></div>
        </div>
    </div>
</body>

</html>
