@page "{index?}"
@using SporeServer.SporeTypes;
@model SporeServer.Pages.Community.AssetBrowser.CreateSporecastModel
@{
    Dictionary<string, string> ModelTypesDropdown = new Dictionary<string, string>
    {
        { "731352134",  "Creature" },
            { "925772804",  "  Tribe Creature" },
            { "3435355206", "  Civ Creature" },
            { "1701259998", "  Space Creature" },
            { "1098430696", "  Captain" },

        { "597278293",  "Building" },
            { "2582195973", "  City Hall" },
            { "1312782199", "  House" },
            { "1203833171", "  Factory" },
            { "1925484929", "  Entertainment" },

        { "610804372",  "Vehicle" },
            { "2101559213", "  Military Land" },
            { "2408988107", "  Military Water" },
            { "1142739942", "  Military Air" },
            { "4134578755", "  Economic Land" },
            { "709969833",  "  Economic Water" },
            { "441321224",  "  Economic Air" },
            { "2597835946", "  Religious Land" },
            { "522855862",  "  Religious Water" },
            { "1151075343", "  Religious Air" },
            { "3155182054", "  Colony Land" },
            { "3243677146", "  Colony Water" },
            { "546349339",  "  Colony Air" },

        { "1198168263", "Spaceship" },

        { "912954125",  "Adventures" },
            { "544802838",  "  No Genre" },
            { "662802406",  "  Template" },
            { "679140572",  "  Attack" },
            { "3276561940", "  Defend" },
            { "4218637521", "  Socialize" },
            { "939347469",  "  Explore" },
            { "3290583454", "  Quest" },
            { "3027271567", "  Story" },
            { "631695982",  "  Collect" },
            { "3799898836", "  Puzzle" }
    };
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>Browse Sporecasts</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/singleDownload.css" />
</head>

<body>
    <div id="search">
        <div id="searchmiddle">
            <form method="get" action="/community/assetBrowser/createSporecast">
                <p>
                    <input type="text" name="searchText" value="@(Model.SearchString)" class="text" />
                </p>

                <p>
                    <select name="filter" class="dropdown">
                        <option value="">Type</option>
                        @foreach (KeyValuePair<string, string> modelType in ModelTypesDropdown)
                        {
                            <option value="@modelType.Key" selected="@(Model.FilterString == modelType.Key)">
                                @Html.Raw(modelType.Value.Replace(" ", "&nbsp;"))
                            </option>
                        }
                    </select>
                </p>

                <p><input type="submit" value="Search" class="submit" /></p>
            </form>
        </div>
    </div>

    <div style="margin-left: 0px;">
        <div id="paging">
            @if (Model.AssetCount > 0)
            {
                <div class="context">
                    Showing @(Model.CurrentIndex + 1)-@(Model.CurrentIndex + Model.AssetCount) of @(Model.SearchCount)
                </div>
            }
            else
            {
                <div class="context">
                    There are zero matches.
                </div>
            }
            <div class="next">
                @if (Model.PreviousIndex >= 0)
                {
                    <a href="/community/assetBrowser/createSporecast/@(Model.PreviousIndex)@(Request.QueryString)"><img src="/static/war/images/game/spd/previousArrow.png" alt="previous" class="previousarrow" />previous</a>
                }
                @if (Model.CurrentIndex + Model.AssetCount < Model.SearchCount)
                {
                    <a href="/community/assetBrowser/createSporecast/@(Model.NextIndex)@(Request.QueryString)">next<img src="/static/war/images/game/spd/nextArrow.png" alt="next" class="nextarrow" /></a>
                }
            </div>
        </div>
    </div>


    <div id="allassets">
        <!-- TODO: assetBackground? -->
        @foreach (var asset in Model.Assets)
        {
            <div class="assetContainer">
                <div class="assetBackground CREATURE">
                    <img src="/@(asset.ThumbFileUrl)" alt="@(asset.Name)" class="assetImage" />
                    <div class="assetTitle">
                        @asset.Name
                        <p class="assetAuthor">@asset.Author.UserName</p>
                    </div>
                </div>
                <div class="linkContainer">
                    <p class="assetLinks"><a href="spore:@(asset.AssetId).@((Int64)asset.ModelType)">Add to Sporecast</a></p>
                </div>
            </div>
        }


        <!--<div class="assetContainer">
                <div class="assetBackground TRIBE_CREATURE">
                    <img src="/static/thumb/501/090/103/501090103611.png" alt="HobBloglin" class="assetImage" />
                    <div class="assetTitle">


                        HobBloglin


                        <p class="assetAuthor">Gefian</p>
                    </div>
                </div>
                <div class="linkContainer">
                    <p class="assetLinks"><a href="spore:501090103611.925772804">Add to Sporecast</a></p>
                </div>
            </div>
         -->
    </div>
</body>
</html>