@page "{index?}"
@using SporeServer.SporeTypes;
@model SporeServer.Pages.Community.AssetBrowser.CreateSporecastModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>Browse Sporecasts</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/singleDownload.css" />
</head>

<body>
    <div id="search">
        <div id="searchmiddle">
            <form method="get" action="/community/assetBrowser/createSporecast">
                <p>
                    <input type="text" name="searchText" value="@(Model.SearchString)" class="text" />
                </p>

                <p>
                    <select name="filter" class="dropdown">
                        <option value="">Type</option>

                        <option value="731352134" selected="@(Model.FilterString == "731352134")">
                            Creature
                        </option>
                        <option value="925772804" selected="@(Model.FilterString == "925772804")">
                            &nbsp;&nbsp;Tribe Creature
                        </option>
                        <option value="3435355206" selected="@(Model.FilterString == "3435355206")">
                            &nbsp;&nbsp;Civ Creature
                        </option>
                        <option value="1701259998" selected="@(Model.FilterString == "1701259998")">
                            &nbsp;&nbsp;Space Creature
                        </option>
                        <option value="1098430696" selected="@(Model.FilterString == "1098430696")">
                            &nbsp;&nbsp;Captain
                        </option>

                        <option value="597278293" selected="@(Model.FilterString == "597278293")">
                            Building
                        </option>
                        <option value="2582195973" selected="@(Model.FilterString == "2582195973")">
                            &nbsp;&nbsp;City Hall
                        </option>
                        <option value="1312782199" selected="@(Model.FilterString == "1312782199")">
                            &nbsp;&nbsp;House
                        </option>
                        <option value="1203833171" selected="@(Model.FilterString == "1203833171")">
                            &nbsp;&nbsp;Factory
                        </option>
                        <option value="1925484929" selected="@(Model.FilterString == "1925484929")">
                            &nbsp;&nbsp;Entertainment
                        </option>

                        <option value="610804372" selected="@(Model.FilterString == "610804372")">
                            Vehicle
                        </option>
                        <option value="2101559213" selected="@(Model.FilterString == "2101559213")">
                            &nbsp;&nbsp;Military Land
                        </option>
                        <option value="2408988107" selected="@(Model.FilterString == "2408988107")">
                            &nbsp;&nbsp;Military Water
                        </option>
                        <option value="1142739942" selected="@(Model.FilterString == "1142739942")">
                            &nbsp;&nbsp;Military Air
                        </option>
                        <option value="4134578755" selected="@(Model.FilterString == "4134578755")">
                            &nbsp;&nbsp;Economic Land
                        </option>
                        <option value="709969833" selected="@(Model.FilterString == "709969833")">
                            &nbsp;&nbsp;Economic Water
                        </option>
                        <option value="441321224" selected="@(Model.FilterString == "441321224")">
                            &nbsp;&nbsp;Economic Air
                        </option>
                        <option value="2597835946" selected="@(Model.FilterString == "2597835946")">
                            &nbsp;&nbsp;Religious Land
                        </option>
                        <option value="522855862" selected="@(Model.FilterString == "522855862")">
                            &nbsp;&nbsp;Religious Water
                        </option>
                        <option value="1151075343" selected="@(Model.FilterString == "1151075343")">
                            &nbsp;&nbsp;Religious Air
                        </option>
                        <option value="3155182054" selected="@(Model.FilterString == "3155182054")">
                            &nbsp;&nbsp;Colony Land
                        </option>
                        <option value="3243677146" selected="@(Model.FilterString == "3243677146")">
                            &nbsp;&nbsp;Colony Water
                        </option>
                        <option value="546349339" selected="@(Model.FilterString == "546349339")">
                            &nbsp;&nbsp;Colony Air
                        </option>

                        <option value="1198168263" selected="@(Model.FilterString == "1198168263")">
                            Spaceship
                        </option>

                        <option value="912954125" selected="@(Model.FilterString == "912954125")">
                            Adventures
                        </option>
                        <option value="544802838" selected="@(Model.FilterString == "544802838")">
                            &nbsp;&nbsp;No Genre
                        </option>
                        <option value="662802406" selected="@(Model.FilterString == "662802406")">
                            &nbsp;&nbsp;Template
                        </option>
                        <option value="679140572" selected="@(Model.FilterString == "679140572")">
                            &nbsp;&nbsp;Attack
                        </option>
                        <option value="3276561940" selected="@(Model.FilterString == "3276561940")">
                            &nbsp;&nbsp;Defend
                        </option>
                        <option value="4218637521" selected="@(Model.FilterString == "4218637521")">
                            &nbsp;&nbsp;Socialize
                        </option>
                        <option value="939347469" selected="@(Model.FilterString == "939347469")">
                            &nbsp;&nbsp;Explore
                        </option>
                        <option value="3290583454" selected="@(Model.FilterString == "3290583454")">
                            &nbsp;&nbsp;Quest
                        </option>
                        <option value="3027271567" selected="@(Model.FilterString == "3027271567")">
                            &nbsp;&nbsp;Story
                        </option>
                        <option value="631695982" selected="@(Model.FilterString == "631695982")">
                            &nbsp;&nbsp;Collect
                        </option>
                        <option value="3799898836" selected="@(Model.FilterString == "3799898836")">
                            &nbsp;&nbsp;Puzzle
                        </option>
                    </select>
                </p>

                <p><input type="submit" value="Search" class="submit" /></p>
            </form>
        </div>
    </div>

    <div style="margin-left: 0px;">
        <div id="paging">
            @if (Model.AssetCount > 0)
            {
                <div class="context">
                    Showing @(Model.CurrentIndex + 1)-@(Model.CurrentIndex + Model.AssetCount) of @(Model.SearchCount)
                </div>
            }
            else
            {
                <div class="context">
                    There are zero matches.
                </div>
            }
            <div class="next">
                @if (Model.PreviousIndex >= 0)
                {
                    <a href="/community/assetBrowser/createSporecast/@(Model.PreviousIndex)@(Request.QueryString)"><img src="/static/war/images/game/spd/previousArrow.png" alt="previous" class="previousarrow" />previous</a>
                }
                @if (Model.CurrentIndex + Model.AssetCount < Model.SearchCount)
                {
                    <a href="/community/assetBrowser/createSporecast/@(Model.NextIndex)@(Request.QueryString)">next<img src="/static/war/images/game/spd/nextArrow.png" alt="next" class="nextarrow" /></a>
                }
            </div>
        </div>
    </div>


    <div id="allassets">
        <!-- TODO: assetBackground? -->
        @foreach (var asset in Model.Assets)
        {
            <div class="assetContainer">
                <div class="assetBackground CREATURE">
                    <img src="/@(asset.ThumbFileUrl)" alt="@(asset.Name)" class="assetImage" />
                    <div class="assetTitle">
                        @asset.Name
                        <p class="assetAuthor">@asset.Author.UserName</p>
                    </div>
                </div>
                <div class="linkContainer">
                    <p class="assetLinks"><a href="spore:@(asset.AssetId).@((Int64)asset.ModelType)">Add to Sporecast</a></p>
                </div>
            </div>
        }


        <!--<div class="assetContainer">
                <div class="assetBackground TRIBE_CREATURE">
                    <img src="/static/thumb/501/090/103/501090103611.png" alt="HobBloglin" class="assetImage" />
                    <div class="assetTitle">


                        HobBloglin


                        <p class="assetAuthor">Gefian</p>
                    </div>
                </div>
                <div class="linkContainer">
                    <p class="assetLinks"><a href="spore:501090103611.925772804">Add to Sporecast</a></p>
                </div>
            </div>
         -->
    </div>
</body>
</html>