@page "{index?}"
@model SporeServer.Pages.Community.AssetBrowser.FindSporecastModel
@{
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <title>Browse Sporecasts</title>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/buddy.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <style type="text/css">
        h1 {
            font-size: 12px;
            font-family: 'Palatino Sans EA', Verdana, sans-serif;
            margin: 0px;
            padding: 6px 3px 2px 3px;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="search">
            <div id="searchmiddle">
                <form method="get" action="/community/assetBrowser/findSporecast">
                    <p><input type="text" name="searchText" value="@(Model.SearchString)" class="text" /></p>
                    <p><input type="submit" value="Search" class="submit" /></p>
                </form>
            </div>
        </div>
        <div id="results">
            <div id="paging">
                @if (Model.Aggregators.Length > 0)
                {
                    <div class="context">
                        Showing @(Model.CurrentIndex + 1)-@(Model.CurrentIndex + Model.Aggregators.Length) of @(Model.SearchCount) Sporecasts
                    </div>
                }
                else
                {
                    <div class="context">
                        There are zero matches.
                    </div>
                }
                <div class="next">
                    @if (Model.PreviousIndex >= 0)
                    {
                        <a href="/community/assetBrowser/findSporecast/@(Model.PreviousIndex)@(Request.QueryString)"><img src="/static/war/images/game/spd/previousArrow.png" alt="previous" class="previousarrow" />previous</a>
                    }
                    @if (Model.CurrentIndex + Model.Aggregators.Length < Model.SearchCount)
                    {
                        <a href="/community/assetBrowser/findSporecast/@(Model.NextIndex)@(Request.QueryString)">next&nbsp;<img src="/static/war/images/game/spd/nextArrow.png" alt="next" class="nextarrow" /></a>
                    }
                </div>
            </div>

            @foreach (var aggregator in Model.Aggregators)
            {
                var assetCount = aggregator.Assets.Count;
                <div class="sporecast">
                    <div class="header">
                        <div class="headerLeft"><img src="/static/war/images/game/spd/spd_IconSporecastCensus.png" alt="Sporecast" class="headericon" /></div>
                        <div class="headermiddle">
                            <h1>@(aggregator.Name) (@(assetCount))</h1>
                        </div>
                        <div class="headerRight"></div>
                    </div>
                    <div class="promo">
                        <h3>by <a href="sporeprofile:@(aggregator.AuthorId)" style="">@(aggregator.Author.UserName)</a> </h3>
                        <p>
                            @(aggregator.SubscriberCount) Subscribers
                            @if (!Model.UserAggregators.Contains(aggregator))
                            { // only add subscribe button when it isn't our own aggregator
                                @if (Model.AggregatorSubscriptions.Contains(aggregator.AggregatorId))
                                { // add unsubscribe button when we're already subscribed to the aggregator
                                    <a href="sporecast:unsubscribe:tag:spore.com,2006:aggregator/@(aggregator.AggregatorId)">
                                        Unsubscribe
                                    </a>
                                }
                                else
                                { // else add subscribe button
                                    <a href="sporecast:tag:spore.com,2006:aggregator/@(aggregator.AggregatorId)">
                                        Subscribe
                                    </a>
                                }
                            }
                        </p>
                        <p>@(aggregator.Description)</p>
                        <p>
                            @for (int i = 0; (i < 10 && i < assetCount); i++)
                            {
                                var asset = aggregator.Assets.ElementAt(i);
                                <img src="/@(asset.ThumbFileUrl)" width="40px" height="40px" alt="@(asset.Name)" />
                            }
                            . . .
                        </p>
                    </div>
                    <div class="footer">
                        <div class="footerLeft"></div>
                        <div class="footermiddle"></div>
                        <div class="footerRight"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

</html>