@page "{id}/{score}/{time}"
@model SporeServer.Pages.Community.AssetBrowser.LeaderBoardDlgModel
@using System
@{
}
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="https://community.spore.com" />
    <link rel="stylesheet" type="text/css" href="/css/game/antialias.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/game/buddy.css" />
    <style type="text/css">
        body {
        			background-color: #203a4a;
        		}	
        		.adv-player-avatar {
        			height: 10px;
        			width: 10px;
        		}
        		.leaderRow {
        			background-color:#495E71;
        			margin: 4px;
        		}
        		.newScoreRow {
        			background-color:#AAAAAA;
        			margin: 4px;
        		}
        		.scoreField {
        			border-right: 2px solid #283f5b;
        			position: absolute;
        			top: 0px;
        			left: 152px;
        			height: 25px;
        			width: 43px;
        			padding-left: 4px;
        			padding-top: 5px;
        		}
        		.timeField {
        			position: absolute;
        			top: 0px;
        			left: 200px;
        			height: 25px;
        			padding-left: 4px;
        			padding-top: 5px;
        		}
        		.nameField {
        			border-left: 2px solid #283f5b;
        			border-right: 2px solid #283f5b;
        			position: absolute;
        			top: 0px;
        			left: 25px;
        			height: 25px;
        			width: 120px;
        			padding-left: 4px;
        			padding-top: 5px;
        		}
        		.topNav {
        			height: 25px;
        		}
        		.buddyLink {
        			position: absolute;
        			top: 0px;
        			left: 10px;
        			width: 110px;
        		}
        		.worldLink {
        			position: absolute;
        			top: 0px;
        			left: 122px;
        			width: 110px;
        		}
        		.leaderLink {
        			position: absolute;
        			top: 0px;
        			left: 210px;
        			width: 75px;
        		}
        		.selectedarrow {
        			width: 5px;
        			height: 8px;
        			padding-top: 3px;
        		}
    </style>
</head>

<body>

    <div class="topNav">
        <div class="buddyLink">
            <a href="@(Request.Path)/BUDDIES">vs. Buddies</a>
        </div>
        <div class="worldLink">
            <a href="@(Request.Path)/WORLD">vs. World</a>
        </div>
        <div class="leaderLink">
            <img src="/static/war/images/game/spd/nextArrow.png" alt="next" class="selectedarrow" />&nbsp;Leaders&nbsp;
        </div>
    </div>

    @foreach (var entry in Model.Entries)
    {
    	var timeSpan = TimeSpan.FromMilliseconds(entry.TimeInMilliseconds);
    	<div class="leaderRow">
        	<img height="25" width="25" src="/static/war/images/game/spd/NoAvatar.png" alt="avatar" />

        	<div class="timeField">@(timeSpan.ToString("hh\\:mm\\:ss\\:fff"))</div>
        	<div class="scoreField">@(entry.PercentageCompleted/10) %</div>
        	<div class="nameField">@(entry.Author.UserName)</div>
    	</div>
    }

</body>

</html>
